a {
    text-decoration: none;
}
.header-logo-link, .header-logo-link:active, .header-logo-link:focus {
    color: #fff;
    display: inline-block;
    transition: color .2s;
}
.header-logo-link:hover {
    color: #dcdcdc;
}
p {
    margin: 16px 0;
    padding: 0;
    font-size: 15px;
}
body {
    color: #212121;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.page-content {
    min-width: 1250px;
    display: block;
    overflow: auto;
}

.devsite-full-site-width, .devsite-toast-fill {
    margin: 0;
    max-width: 1600px;
    min-width: 1000px;
    padding: 0;
    height: 93vh;
}

.devsite-nav  {
    background: #f7f7f78c;
    margin: 0;
    max-width: 340px;
}
.devsite-nav ul li {
    font-size: 14px;
}
.devsite-nav ul, #TableOfContents ul {
    list-style-type: none;
    line-height: 16px;
}
.devsite-nav ul {
    padding: 0;
}

#TableOfContents ul {
    padding: 5px 0;
}
#TableOfContents ul li {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.devsite-section-nav-main > .devsite-nav-item-main {
    border-bottom: 1px solid #cfd8dc;
    padding: 6px 0px 14px;
}
.devsite-nav-expandable .devsite-nav-item {
    padding-left: 10px;
}
.devsite-nav-item {
    line-height: 19px;
    padding: 6px;
    position: relative;
    color: #000;
}
.devsite-nav-title {
    display: block;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.devsite-nav-item-main-title {
    color: #545454;
    font-weight: bold;
    padding-right: 24px;
    font-size: 16px;
    margin-bottom: 4px;
}

.devsite-nav-expandable .devsite-nav-item-main-title {
    font-size: 14px;
    color: #565656;
    font-weight: 600;
}

.devsite-section-nav {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 20px;
    max-width: 310px;
    min-width: 175px;
    height: 95vh;
    position: fixed;
}
.devsite-nav-item.active > .devsite-nav-title {
    color: #5195fb!important;
}

.devsite-nav-item.active {
    background: #e8f0fe!important;
}

#TableOfContents {
    border-left: 4px solid #4285f4;
    padding: 0;
    margin: 0;
}

.devsite-content  {
    padding: 0 20px
}

.devsite-console-link {
    padding-left: 40px;
}



/* a11y-light theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #696969;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d91e18;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #aa5d00;
}

/* Yellow */
.hljs-attribute {
  color: #aa5d00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #008000;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #004a64;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b068bf;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f6f4f4;
  color: #545454;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}

.hljs-subst {
    /*color: red;*/
}

.swagger-ui section.models {
    display: none!important;
}

.swagger-ui .model {
    font-family: 'Open Sans', sans-serif!important;
}

/*.table-container [data-param-in="path"]{*/
/*    display: none!important;*/
/*}*/

.swagger-ui pre {
    line-height: 2;
}

.table-container .body-param__example {
    background: #333!important;
}

.swagger-ui .code, .swagger-ui code {
    color: #e6e6e6;
}